<form class="row g-3">
  <div class="col-md-6">
    <label for="inputDisciplina" class="form-label">Disciplina</label>
    <input type="text" class="form-control" id="inputDisciplina">
  </div>
  <div class="col-md-3">
    <label for="inputData" class="form-label">Data Início</label>
    <input type="date" class="form-control" id="inputData">
  </div>
  <div class="col-md-3">
    <label for="inputData" class="form-label">Data Início</label>
    <input type="date" class="form-control" id="inputData">
  </div>
  <div class="col-3">
    <label for="inputTurno" class="form-label">Turno</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Selecione uma opção</option>
      <option value="1">Matutino</option>
      <option value="2">Vespertino</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary mt-3">Cadastrar disciplina</button>
  </div>
</form>
