<form class="row g-3" [formGroup]="formDisciplina" (ngSubmit)="submit()">
  <div class="col-md-6">
    <label for="inputDisciplina" class="form-label">Disciplina</label>
    <input type="text" class="form-control" formControlName="name" id="inputDisciplina">
  </div>
  <div class="col-md-3">
    <label for="inputData" class="form-label">Data Início</label>
    <input type="date" class="form-control" formControlName="start_date" id="inputData">
  </div>
  <div class="col-md-3">
    <label for="inputData" class="form-label">Data Final</label>
    <input type="date" class="form-control" formControlName="end_date" id="inputData">
  </div>
  <div class="col-3">
    <label for="inputTurno" class="form-label">Turno</label>
    <select class="form-select" formControlName="shift" aria-label="Default select example">
      <option value="Matutino">Matutino</option>
      <option value="Vespertino">Vespertino</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary mt-3" [disabled]="this.formDisciplina.invalid">Cadastrar disciplina</button>
  </div>
</form>
