<!-- <div class="content">




</div> -->
<div class="register-body">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card card-box">
          <div class="row g-0 pl-5 align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center col-lg-5 col-message">
              <div class="message">
                <h3>Bem vindo ao</h3>
                <h3>Academic Planner</h3>
                <p>Uma ferramenta para organizar
                  seus estudos na UFAL</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center justify-content-center col-login">
              <form class="form">
                <h3 class="register-title">Crie sua conta</h3>
                <div class="mb-3">
                  <input type="nome" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Nome">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <button [routerLink]="''"type="submit" class="btn btn-primary btn-login">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



