<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-70 ">
      <div class="card-header">
        <h4>Programação 1</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              The Huxley - Lista 01
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              The Huxley - Lista 02
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              The Huxley - Lista 03
            </label>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="#">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-3">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <div class="card-header">
        <h4>Álgebra Linear</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Vetores
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Espaço vetorial
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Espaço vetorial - lista 02
            </label>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="#">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-3">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <div class="card-header">
        <h4>Banco de Dados</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Modelagem de dados
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
              SGBD
            </label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              SQL
            </label>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="#">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-3">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-md-1">
        <a href="#">
          <i class="pi pi-plus"></i>
        </a>
      </div>
      <div class="col-md-3">
        Novo card
      </div>
    </div>
  </div>
</div>