<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-70 ">
      <div class="card-header">
        <h4>Programação 1</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  The Huxley - Lista 01
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  The Huxley - Lista 02
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  The Huxley - Lista 03
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-5">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <div class="card-header">
        <h4>Álgebra Linear</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  Vetores
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  Espaço vetorial
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  Espaço vetoral - Lista 02
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="#">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-5">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <div class="card-header">
        <h4>Banco de Dados</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  Modelagem de dados
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  SGBD
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  SQL
                </label>
              </div>
              <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
                  <i class="pi pi-pencil"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="#">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-5">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-md-1">
        <a href="#">
          <i class="pi pi-plus"></i>
        </a>
      </div>
      <div class="col-md-5">
        Novo card
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar assunto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-5">
            <label for="inputAssunto" class="form-label">Assunto</label>
            <input type="text" class="form-control" id="inputAssunto">
          </div>
          <div class="col-4">
            <label for="inputDisciplina" class="form-label">Disciplina</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecione uma opção</option>
              <option value="1">Álgebra Linear</option>
              <option value="2">Programação 1</option>
              <option value="3">Banco de Dados</option>
            </select>
          </div>
          <div class="col">
            <label for="inputHora" class="form-label">Horas de Estudo</label>
            <input type="number" class="form-control" id="inputHora">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>