<div class="row row-cols-1 row-cols-md-3 g-4">
  <div id="for" *ngFor="let disciplina of disciplinasAssuntos">
  <div class="col">
    <div class="card h-70 ">
      <div class="card-header">
        <h4>{{disciplina.name}}</h4>
      </div>
      <ul class="list-group list-group-flush" >
        <li class="list-group-item" *ngFor="let topic of disciplina.topics">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="row" >
              <div class="col">
                <label class="form-check-label" for="flexCheckDefault">
                  {{topic.name}}
                </label>
              </div>
              <div class="col-auto">
                <a  style="color: black" (click)="modalEdit.showDialog(topic.id)">
                  <i class="pi pi-pencil"></i>
                </a>
                <app-modal-todo #modalEdit></app-modal-todo>
              </div>
              <div class="col-auto">
                <a  (click)="modalDelete.showDialog(topic.id)" style="color: black">
                  <i class="pi pi-trash"></i>
                </a>
                <app-modal-delete #modalDelete ></app-modal-delete>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <a href="">
              <i class="pi pi-plus"></i>
            </a>
          </div>
          <div class="col-md-5">
            Nova tarefa
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple" [fullScreen]="false"></ngx-spinner>



