<div class="row text-center justify-content-between align-items-center mb-3">

  <div class="col-auto">
    <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            Anterior
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Hoje
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            Próximo
        </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
            Mês
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Semana
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Dia
        </div>
    </div>
  </div>

</div>


<div [ngSwitch]="view">

  <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" [refresh]="refresh"
  (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-month-view>

  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [refresh]="refresh"
  (eventTimesChanged)="eventTimesChanged($event)" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-week-view>

  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [refresh]="refresh"
  (eventTimesChanged)="eventTimesChanged($event)" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-day-view>

</div>








