<div class="modal-header">
  <h4 class="modal-title">{{ dayClicked | date: 'dd/MM/yyyy' }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p *ngIf="calendarEvents == null">
    Não tem eventos agendados
  </p>
  <div *ngFor="let calendarEvent of calendarEvents">
    <ul>
      <li>{{calendarEvent.title}}</li>
    </ul>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
