<div class="login-body">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card card-box">
          <div class="row g-0 pl-5 align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center col-lg-5 col-message">
              <div class="message">
                <h3>Bem vindo ao</h3>
                <h3>Academic Planner</h3>
                <p>Uma ferramenta para organizar
                  seus estudos na UFAL</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center justify-content-center col-login">
              <form class="form">
                <h3 class="login-title">Recuperar Senha</h3>
                <h5 class="login-title text-center">Digite seu e-mail para solicitar recuperação de senha</h5>
                <div class="mb-3">
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
                </div>
                <div class="mb-2">
                  <button type="submit" on  class="btn btn-primary btn-enviar">Enviar</button>
                </div>
                <div class="mb-4">
                  <a href="" id="btn-voltar" type="button" class="btn btn-primary btn-enviar">Voltar</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


