<div class="container">
  <div class="card w-50">
    <div class="card-header">
      <div class="row align-items-center justify-content-center">
        <div class="col-11 text-center">
          <h4>Suas Informações</h4>
        </div>
        <div class="col text-end">
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black">
            <i class="pi pi-pencil"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center mb-3">
        <i class="pi pi-user" style="font-size: 5rem;"></i>
      </div>
      
      <div class="row">
        <div class="col">
          <h5>Nome Completo</h5>
        </div>
        <div class="col-auto">
          <h5>Nome Completo</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-50">
    <div class="card-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-11 text-center">
          <h4>Informações Acadêmicas</h4>
        </div>
        <div class="col text-end">
          <a data-bs-toggle="modal" data-bs-target="#static2Backdrop" style="color: black">
            <i class="pi pi-pencil"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <h5>Curso</h5>
        </div>
        <div class="col-auto">
          <h5>Curso</h5>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <h5>Período</h5>
        </div>
        <div class="col-auto">
          <h5>Período</h5>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="inputNome" class="form-label">Nome Completo</label>
          <input type="text" class="form-control" id="inputNome">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="static2Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="inputNome" class="form-label">Curso</label>
          <input type="text" class="form-control" id="inputNome"><br>
          <label for="inputNome" class="form-label">Período</label>
          <input type="text" class="form-control" id="inputNome">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>