.header {
  background-color:rgba(44, 62, 80, 1);
  color: white;
  font-family: saira bold;
}

.head-title {
  font-size: 36px;
}

.sidebar {
  padding: 0;
}

.calendar {
  margin: 20px;
}

.logout {
  margin-right: 20px;
}

.btn-sair {
  display: flex;
  font-size: 20px;
  width: 70px;
  height: 35px;
  align-items: center;
  justify-content: center;
}


