#list {
  border-top: inherit; 
  border-left: inherit; 
  border-right: inherit; 
  border-bottom-left-radius: inherit; 
  border-bottom-right-radius: inherit;
}

h4 {
  margin-bottom: 0;
  font-family: saira bold;
}

.card {
  width: 85%;
  margin: auto;
}

.icon {
  margin-right: 10px;
}

.nv {
  width: 85%;
  margin: 10px auto;
}

.container-fluid {
  margin: auto 0;
}